@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 10; /* change this to whatever height you want it */
}

body{
	margin:0;
	padding:0;
	background-color: #0d0d0d;
	color:#cecece;
    height:100%;
    width:100%;
	font-family:'Roboto', sans-serif;
	font-weight:300;
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size: 100% 100%;
}


hr {
	color:white;
	height:1px;
	background-color: white;
	border-width: 0;
}

a {
	text-decoration: none;
	color:#ababab;

}

a:hover {
	text-decoration: underline;
}

/*CSS Per il menù di navigazione*/

.navbar ul{
	list-style: none;
	background: rgba(13,13,13,0.8);
	padding: 0;
	margin: 0;
	text-align:center;
}

.navbar li{
	display: inline-block;
}

.navbar a{
	text-decoration: none;
	color: white;
	width:120px;
	display: block;
	padding: 25px 20px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.navbar a:hover{
	background: #141414;
}

/*CSS per lo stile di testo all'interno della pagina
Da qua possono essere modificati alcuni dei parametri che riguardano i testi nelle varie pagine*/

.titleDiv {
	margin-right: 5%;
	margin-left: 5%;
}

.titleDiv h1{
	text-align: center;
}

.center {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

/*CSS per la realizzazione della griglia*/

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  
}

.wrapper div{
	margin-left: 10%; 
	margin-right: 10%;
	position:relative;
}

.wrapper p{
	text-align: justify;
	font-weight: bold;
	font-size:15; 
	line-height: 125%;
	font-weight:400;
}

.wrapper h3{
	text-align: center;
	font-weight: bold;
}

.divSpiegazione{
	background-color: #0d0d0d;

}

.divSpiegazione p{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10%;
	padding-right: 10%;
}

.divSpiegazione br{
	margin-top: 3px;
}